# IDE
.idea
.vscode

# JS
node_modules
.env
.deps

# Hardhat files
/cache
/artifacts
/contracts/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
ignition/deployments/*/build-info

# misc
bin/
test/GnosisSafeRewardDistributor.ts

# goimpl
peripheral/testdata/.go_finalized_reward.json
peripheral/goimpl/reward/.env
peripheral/goimpl/go.work
peripheral/goimpl/go.work.sum