# this wallet will be used:
# - as kwild DB_OWNER
# - as kwil-cli user
TEST_PK=
TEST_ADDRESS=

SAFE_ADDRESS=
REWARD_ADDRESS=

# signer service
SIGNER_CONFIG_FILE=/xx

# poster service
POSTER_CONFIG_FILE=/xx